<h1>$title$</h1>
<div class="info">
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
</div>

$body$

<p class="text-center disqus-btn">
  <button id="btn-interact" data-toggle="button"
	  type="button" class="btn btn-default btn-bw">
    <span class="glyphicon glyphicon-hand-down"></span>
    Interact!
  </button>
</p>

<div id="interact" class="hidden">
  <!-- Flattr button -->
  <script id='fb0cg6l'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=bdoering&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb0cg6l');</script>
  
  
  <!-- Disqus comments -->
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'bdoering'; // required: replace example with your forum shortname
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div> <!-- interact -->
